<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wqh.blog.mapper.CategoryMapper" >
  <sql id="categoryColumns">
      a.id AS "id",
      a.create_time AS "createTime",
      a.description AS "description",
      a.name AS "name",
      a.update_time AS "updateTime"
  </sql>
  <!--根据id查询-->
  <select id="get" resultType="Category">
      SELECT 
        <include refid="categoryColumns"/>
      FROM t_blog_category
    <where>
      <if test="id != null and id !='' ">
          id = #{id}
      </if>
    </where>
  </select>
  <!--查询所有-->
  <select id="findList"  resultType="Category" >
    SELECT
       <include refid="categoryColumns"/>
    FROM t_blog_category
  </select>
  <!--插入-->
  <insert id="insert">
    <selectKey keyProperty="id" resultType="java.lang.String"
               order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    INSERT  INTO
    t_blog_category(
      id,
      create_time,
      description,
      update_time,
      name
    )VALUES (
      #{id},
      #{createTime},
      #{description},
      #{updateTime},
      #{name}
    )
  </insert>
  <!--更新-->
  <update id="update">
    UPDATE t_blog_category SET
      update_time = #{updateTime},
      description = #{description},
      name = #{name}
    WHERE id = #{id}
  </update>
</mapper>