<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqh.blog.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.wqh.blog.domain.User" >
            <id column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
            <result column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
            <result column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <result column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
            <result column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
            <result column="icon" jdbcType="VARCHAR" javaType="java.lang.String" />
            <result column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
            <result column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
            <result column="role" jdbcType="VARCHAR" javaType="com.wqh.blog.enums.RoleEnum" />
            <result column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <result column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
    </resultMap>

    <sql id="userColumns">
        a.id = "id",
        a.name = "username",
        a.phone = "phone",
        a.address = "address",
        a.createTime = "createTime",
        a.description = "description",
        a.email = "email",
        a.icon = "icon",
        a.password = "password",
        a.updateTime = "updateTime",
        a.role = "role"
    </sql>

    <!--根据传入的条件查询-->
    <select id="get" resultMap="UserResultMap">
        SELECT
        <include refid="userColumns"/>
        FROM t_blog_user a
        <where>
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="phone != null and phone != ''">
                AND a.phone = #{phone}
            </if>
            <if test="username != null and username != ''">
                AND a.username = #{username}
            </if>
        </where>
    </select>


    <!--查询用户列表-->
    <select id="findList" resultMap="UserResultMap">
        SELECT
        <include refid="userColumns"/>
        FROM t_blog_user a
        <where>
        </where>
    </select>
    <!--添加用户-->
    <insert id="insert">
        <selectKey keyProperty="id" resultType="java.lang.String"
                   order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
         INSERT INTO
         t_blog_user (
              id,
              address,
              create_time,
              description,
              email,
              icon,
              password,
              phone,
              role,
              update_time,
               username
            )
          VALUES (
            #{id},
            #{address},
            #{createTime},
            #{description},
            #{email},
            #{icon},
            #{password},
            #{phone},
            #{role},
            #{updateTime},
            #{username}
          )
    </insert>
</mapper>